.Genres__Section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 20px;
  gap: 10px;
}

.SectionTitle {
  font-size: 28px;
  font-weight: 700;
  width: 100%;
  text-align: start;
  padding-left: 60px;
}

.GenreSwiper {
  width: 100%;
  height: 100%;
}

.GenreSlides {
  width: 250px;

  &:first-child {
    margin-left: 60px;
  }

  &:last-child {
    margin-right: 60px !important;
  }
}

.GenreButton {
  width: 100%;
  background: var(--genre-button);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
}

.GenreLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 7px;
  color: var(--text-color);
  transition: 0.3s;

  &:hover {
    background: rgba(137, 137, 137, 0.2);
  }
}

@media (max-width: 992px) {
  .SectionTitle {
    font-size: 24px;
    padding-left: 24px;
  }

  .GenreSlides {
    &:first-child {
      margin-left: 24px;
    }
    &:last-child {
      margin-right: 24px !important;
    }
  }
}

@media (max-width: 600px) {
  .Genres__Section {
    padding-block: 14px;
    gap: 8px;
  }

  .SectionTitle {
    font-size: 20px;
    padding-left: 16px;
  }

  .GenreSlides {
    &:first-child {
      margin-left: 16px;
    }
    &:last-child {
      margin-right: 16px !important;
    }
  }

  .GenreLink {
    padding: 10px 12px;
    font-size: 14px;
  }
}
