.Slides {
  width: 250px;

  &:first-child {
    margin-left: 60px;
  }

  &:last-child {
    margin-right: 60px !important;
  }
}

.Swiper {
  position: relative;
  &:hover {
    .next,
    .prev {
      opacity: 1;
    }
  }
}

.next,
.prev {
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.prev {
  top: 40%;
  margin-left: 25px;
}

.next {
  right: 0;
  top: 40%;
  margin-right: 25px;
}
