.Navigation__List ul {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 25px;
  gap: 10px;

  li a {
    position: relative;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;

    &::after {
      background-color: var(--text-color);
      display: block;
      content: "";
      height: 2px;
      width: 0%;
      -webkit-transition: width 0.3s ease-in-out;
      -moz--transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

@media (max-width: 850px) {
  .Navigation__List ul {
    padding-top: 50px;
    flex-direction: column;
    align-items: start;

    li a {
      font-size: 24px;
      font-weight: 700;
    }
  }
}
