.Row {
  display: flex;
}

.Title {
  min-width: 175px;
  color: var(--second-title);
}

.RowContent {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
}

.ColumnContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
  font-weight: 500;
}
