.Input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  gap: 10px;
  transition: 0.3s;
}

.CustomInput {
  width: 100%;
}

.Input.Error {
  border: 1px solid red;
}
