.PersonName__Container {
  margin-bottom: 10px;
}

.PersonRu__Name {
  font-size: 32px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.004em;
}

.PersonEn__Name {
  color: var(--second-title);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.004em;
}

@media (max-width: 1440px) {
  .PersonName__Container {
    padding-inline: 15px;
  }
}

@media (max-width: 992px) {
  .PersonRu__Name {
    font-size: 28px;
    line-height: 28px;
  }

  .PersonEn__Name {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 600px) {
  .PersonRu__Name {
    font-size: 24px;
    line-height: 26px;
  }

  .PersonEn__Name {
    font-size: 14px;
    line-height: 20px;
  }
}
