.MovieDesc {
  width: 100%;
  margin-block: 3rem;
}

.Desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.004em;
  white-space: pre-wrap;
  color: var(---text-color);
}

.DescTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.004em;
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .MovieDesc {
    margin-block: 2rem;
  }
}

@media (max-width: 600px) {
  .DescTitle {
    font-size: 20px;
    line-height: 24px;
  }

  .Desc {
    font-size: 14px;
    line-height: 1.7rem;
  }
}
