.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 55px;
}

.Logo {
  color: var(--text-color);
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
}

.Navigation__Menu {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 25px;
}

.Login {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}

.HeaderIcon {
  min-height: 34px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 8px;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    background: rgba(137, 137, 137, 0.2);
  }
}
