.ProfileContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.YandexAvatar__Container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--text-color);
}

.YandexAvatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.YandexDisplay__Name {
  font-size: 18px;
  font-weight: 700;
}
