.FilmsPage {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.FiltersFilms {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FilmList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
